<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<body>

    <!-- Se implementa autocomplete usando jquery   -->
    <script type="text/javascript" th:fragment="javascript">

        <!-- html debe estar cargado  -->
        $(document).ready(function() {
            $("#buscar_producto").autocomplete({

                <!-- Aquí obtenemos los datos a través de AJAX y los mostramos a medida que vamos escribiendo -->
                source: function(request, response) {
                    $.ajax({
                        url: "/factura/cargar-productos/" + request.term,
                        dataType: "json",
                        data: {
                            term: request.term
                        },
                        success: function(data){
                            response($.map(data, function(item){
                                return {
                                    value: item.id,
                                    label: item.nombre,
                                    precio: item.precio,
                                };
                            }))
                        }
                    });
                },

                <!-- Selecciona un valor para realizar alguna tarea  -->
                select: function(event, ui) {

                    if (itemsHelper.hasProducto(ui.item.value)) {
                        itemsHelper.incrementaCantidad(ui.item.value, ui.item.precio);
                        return false;
                    }

                    <!-- Obtenemos el contenido html de la plantilla plantilla-items.html -->
                    var linea = $("#plantillaItemsFactura").html();

                    <!-- Cambiamos los parámetros por el valor -->
                    linea = linea.replace(/{ID}/g, ui.item.value);
                    linea = linea.replace(/{NOMBRE}/g, ui.item.label);
                    linea = linea.replace(/{PRECIO}/g, ui.item.precio);

                    <!-- Agregamos la linea al tbody de la tabla de form.html -->
                    $("#cargarItemProductos tbody").append(linea);
                    itemsHelper.calcularImporte(ui.item.value, ui.item.precio, 1);

                    return false;
                }
            });
           }
        );

        var itemsHelper = {
            calcularImporte: function(id, precio, cantidad) {
                $("#total_importe_" + id).html(parseInt(precio) * parseInt(cantidad));
            },

            hasProducto: function(id) {
                var resultado = false;
                $('input[name="item_id[]"]').each(function() {
                    if(parseInt(id) == parseInt($(this).val())) {
                        resultado = true;
                    }
                });

                return resultado;
            },

            incrementaCantidad: function(id, precio) {
                var cantidad = $("#cantidad_" + id).val() ? parseInt($("#cantidad_" + id).val()) : 0;
                $("#cantidad_" + id).val(++cantidad);
                this.calcularImporte(id, precio, cantidad);
            },

            eliminarLineaFactura: function(id) {
                $("#row_" + id).remove();
            }
        }

    </script>

</body>
</html>